<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1 id="titulo" >🔎 Visor de sensores</h1>

  <%try { %>
  <p>Token actual: <%=stringToken%></p>
  <%} catch (error) {%>
  <%}%>

  <ul>
    <% routes.forEach((element)=>{ %>
    <li> <a onclick="connectingMessage()" href= <%= element.link %> > <%= element.sensorName %> </a> </li>
    <% }) %>
    <li> <a onclick="connectingMessage()" href= "/authenticate"> Generar Token... </a></li>
  </ul>

  <script>
    function connectingMessage() {
      document.getElementById("titulo").innerHTML = "📡 Conectando...";
    };

  </script>
</body>
</html>
